# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
Front/dist
Front/tmp
Front/out-tsc
Front/bazel-out

# Node
Front/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Front/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
Front/.angular/cache
Front.sass-cache/
Front/connect.lock
Front/coverage
Front/libpeerconnection.log
Fronttestem.log
Front/typings

# System files
.DS_Store
Thumbs.db
