.wrapper {
  width: 94%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.icons-wrapper {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icons-wrapper span {
  font-family: Inter;
  font-size: 20px;
}

.button-wrapper {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}
