<div class="modal-container">
  <div class="modal-overlay" (click)="this.closeCartModal()"></div>
  <div class="cart-modal">
    <div class="cart-modal-header">
      <h1 class="primary-text">Meu carrinho</h1>
      <button class="close-button" (click)="this.closeCartModal()">X</button>
    </div>

    <div class="cart-modal-content">
      @if (this.cartItems.length > 0) {
      <div class="cart-items">
        @for(item of this.cartItems; track item.product.name) {
        <app-product-card [item]="item" [onChange]="this.editCartItem" />
        }
      </div>
      } @else {
      <p class="empty-cart-text">
        Seu carrinho está vazio. Adicione produtos para continuar.
      </p>
      }
      <div class="cart-summary">
        <p class="total-price">
          Total: {{ this.currencyUtils.numberToCurrency(this.getTotalPrice()) }}
        </p>
        <button class="checkout-button" (click)="this.checkout()">
          Finalizar compra
        </button>
      </div>
    </div>
  </div>
</div>
